<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
    <link rel="stylesheet" href="../../public/stylesheets/lib.css">
    <link rel="stylesheet" href="../../public/stylesheets/app.css">
    <title>Finstagram</title>
  </head>
  <body>
  <header>
  <h1>Finstagram</h1>
  </header>
  <main role="main">
    <% @finstagram_posts.each do |finstagram_post| %>
  <article class="finstagram-post">
  <div class="user-info">
    <img src="<%= @finstagram_post_shark[:avatar_url] %>" alt="<%= @finstagram_post_shark[:username] %>">
    <h2><%= @finstagram_post_shark[:username] %></h2>
    <h3><%= @finstagram_post_shark[:humanized_time_ago] %></h3>
  </div>
  <a class="photo" href="#">
    <img src="<%= @finstagram_post_shark[:photo_url] %>" alt="finstagram post from <%= @finstagram_post_shark[:username] %>">
  </a>
  <div class="actions">
    <%= @finstagram_post_shark[:like_count] %> likes
    <span class="comment-count"><%= @finstagram_post_shark[:comment_count] %> comment</span>
  </div>
  <ul class="comments">
    <li>
      <p>
        <%= @finstagram_post_shark[:comments][0][:username] %>: <%= @finstagram_post_shark[:comments][0][:text] %>
      </p>
    </li>
  </ul>
</article>
<article class="finstagram-post">
  <div class="user-info">
  <img src="<%= finstagram_post[:avatar_url] %>" alt="<%= finstagram_post[:username] %>">
    <h2><%= finstagram_post[:username] %></h2>
    <h3><%= finstagram_post[:humanized_time_ago] %></h3>
  </div>
  <a class="photo" href="#">
    <img src="<%= finstagram_post[:photo_url] %>" alt="finstagram post from <%= finstagram_post[:username] %>">
  </a>
  <div class="actions">
    <%= finstagram_post[:like_count] %> likes
    <span class="comment-count"><%= finstagram_post[:comment_count] %> comment</span>
  </div>
  <ul class="comments">
  <% finstagram_post[:comments].each do |comment| %>
    <li>
      <p>
      <%= comment[:username] %>: <%= comment[:text] %>
      </p>
    </li>
    <% end %>
  </ul>
</article>
<% end %>
</main> 
  <%=yield% >
  </body>
</html>